body {
    margin: 0px;
    padding: 10px 20px;
}

.step {
    display: none;
}

#step1 {
    display: block;
}

.voucher-config-block {
    margin-bottom: 20px;
}

.voucher-config-block-sm {
    margin-bottom: 10px;
}